# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\worksapce\2020java\02_面向对象与常用类\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
