# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\worksapce\2020java\01_Java基础语法\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
